.about-us-container {
  font-family: 'Tenor Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../red-wine-stains-vincenzo-lombardo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.300);
  min-height: calc(100vh - 51px);
}

.about-us-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.750);
  min-width: 80vw;
}

.about-us-overlay h1 {
  font-size: 50px;
}

.developers-container {
  display: flex;
  flex-direction: row;
}

.developer{
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:5px;
  padding: 20px;
  transition: all .2s ease-in-out;
}

.developer img {
  box-sizing: border-box;
  height: 300px;
  padding: 0;
  border-radius: 100%;
  transition: all .3s ease-in-out;
  border: 5px solid black;
}

.developer-name {
  font-size: 32px;
  font-weight: bold;
}
.developer-title {
  font-size: 30px;
}
.developer-links {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.developer-links a {
  color: rgb(253, 84, 54);
  text-decoration: none;
  margin: 0 10px;
}

.developer-links a:visited {
  color: rgb(107, 2, 39);
  text-decoration: none;
  margin: 0 10px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
  margin-bottom: 5vh;
  text-align: center;
}

.info-container h2 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 30px;
}

.info-container strong {
  font-weight: bold;
  font-size: 20px;
}

blockquote {
  max-width: 400px;
}

blockquote span {
  font-weight: bold;
}