.collection-link {
  height: 0.2vw;
  width: 0.2vw;
  margin: 10px;

  border-radius: 6px;
  border: 1px solid rgb(51, 51, 51);
  box-sizing: border-box;
  box-shadow: 1px 1px 4px black;

  overflow: hidden;
}
.collection-link img {
  height: inherit;
  width: inherit;
}

.loading-gif { max-width: 100vw; }

.collection-wines-container > h2,
.suggested-wines-container > h2,
.tag-wines > h2 {
  border-bottom: 1px solid lightgray;
}
.suggested-wine, .collection-wine, .tag-wine-item {
  height: 160px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
}
.collection-wine-img, .suggested-wine-img, .tag-wine-img {
  align-items: center;
  min-width: 160px;
  max-width: 160px;
  height: 160px;
  overflow: hidden;
  background-color: whitesmoke;
}
.collection-wine-img img,
.suggested-wine-img img,
.tag-wine-img img {
  height: 160px;
  object-fit: scale-down;
}
.collection-wine-title,
.suggested-wine-title,
.tag-wine-title {
  font-family: 'Tenor Sans';
}
.collection-wine-text,
.collection-wine-details,
.suggested-wine-text,
.tag-wine-text {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 160px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.collection-wine-description,
.suggested-wine-description,
.tag-wine-description {
  overflow-y: scroll;
  flex-grow: 1;
}
.collection-wine-tag,
.suggested-wine-tag,
.tag-wine-tag {
  font-size: 14px;
  margin-top: 6px;
  margin-right: 12px;
  padding: 6px;
  border-radius: 2px;
  background-color: rgb(245, 180, 180);
  
  font-family: 'Tenor Sans', sans-serif;
  color: black;
  text-decoration: none;
}
.collection-wine-tag-container,
.suggested-wine-tag-container,
.tag-wine-tag-container {
  display: flex;
  flex-direction: row;
}
.suggested-wine button.wine-index-add-button,
.tag-wines .add-to-collection {
  background-color: rgb(245, 180, 180);
  min-width: 160px;
  max-width: 160px;
  margin: 0;
  border-radius: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}