.collection-link {
  height: 0.2vw;
  width: 0.2vw;
  margin: 10px;

  border-radius: 6px;
  border: 1px solid rgb(51, 51, 51);
  box-sizing: border-box;
  box-shadow: 1px 1px 4px black;

  overflow: hidden;
}
.collection-link img {
  height: inherit;
  width: inherit;
}

.collection-wines-container > h2, .suggested-wines-container > h2 {
  border-bottom: 1px solid lightgray;
}
.suggested-wine, .collection-wine {
  height: 160px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
}
.collection-wine-img, .suggested-wine-img {
  align-items: center;
  min-width: 160px;
  max-width: 160px;
  height: 160px;
  overflow: hidden;
}
.collection-wine-img img, .suggested-wine-img img {
  height: 160px;
  object-fit: scale-down;
}
.suggested-wine-title {
  font-family: 'Tenor Sans';
  /* font-size: 16px; */
}
.collection-wine-text, .collection-wine-details, .suggested-wine-text {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 160px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.collection-wine-description, .suggested-wine-description {
  overflow-y: scroll;
  flex-grow: 1;
}
.collection-wine-tag, .suggested-wine-tag {
  font-size: 14px;
  margin: 6px;
  margin-bottom: 0px;
  padding: 6px;
  border-radius: 2px;
  background-color: rgb(245, 180, 180);
  
  font-family: 'Tenor Sans', sans-serif;
  color: black;
  text-decoration: none;
}
.suggested-wine-tag-container, .collection-wine-tag-container {
  display: flex;
  flex-direction: row;
}
.suggested-wine button.wine-index-add-button {
  background-color: rgb(245, 180, 180);
  min-width: 160px;
  max-width: 160px;
  margin: 0;
  border-radius: 0;
  border: 0;
  /* font-family: 'Montserrat', sans-serif; */
}