.collection-link {
  height: 0.2vw;
  width: 0.2vw;
  margin: 10px;

  border-radius: 6px;
  border: 1px solid rgb(51, 51, 51);
  box-sizing: border-box;
  box-shadow: 1px 1px 4px black;

  overflow: hidden;
}
.collection-link img {
  height: inherit;
  width: inherit;
}

.suggested-wine, .collection-wine {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
}
.wine-img {
  min-width: 120px;
  max-width: 120px;
  height: 100%;
  overflow: hidden;
}
.wine-img img {
  min-height: 200px;
  min-width: 200px;
  max-height: 240px;
  max-width: 240px;
  object-fit: scale-down;
  position: absolute;
  /* width: 120px; */
}
.wine-text {
  padding: 10px;
  box-sizing: border-box;
}
.collection-wine-tag {
  font-size: 14px;
  margin: 6px;
  padding: 6px;
  border-radius: 2px;
  background-color: rgb(245, 180, 180);
  
  font-family: 'Tenor Sans', sans-serif;
  color: black;
  text-decoration: none;
}
.suggested-wine-title {
  font-family: 'Tenor Sans';
  font-size: 24px;
}
.suggested-wine button.wine-index-add-button {
  background-color: rgb(245, 180, 180);
  width: 100px;
  margin: 0;
  border-radius: 0;
  border: 0;
}
.suggested-wine-tag-container {
  display: flex;
  flex-direction: row;
}