.home-page-header {
  background-image: url("../home-page-wine-shelf.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 51px);
}
.home-page-header-overlay {
  height: inherit;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  background-color: rgba(84, 79, 84, 0.515);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-page-header-overlay > h1 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 80px;
  color: white;
  margin: 30px;
  line-height: normal;
}

.home-index-link {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 40px;
  text-decoration: none;
}

.home-collections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  background-color: rgb(255, 255, 255);
}

.add-new-collection:hover {
  cursor: pointer;
}

.collection-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.76);
}

.close-form {
  font-size: 35px;
  align-self: flex-end;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
}

.close-form:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#user-collections {
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
}

#user-collections > div {
  height: 300px;
  width: 300px;
  background-color: tomato;

  margin: 10px;
  margin-top: 0;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#user-collections > div > a {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  overflow: hidden;
}
#user-collections p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: none;
  text-shadow: 0 0 6px black;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
#user-collections img {
  width: 120%;
  height: auto;
}

h2 {
  margin-top: 10px;
  font-family: 'Sacramento';
  font-size: 48px;
  justify-self: center;
  text-decoration: underline dotted pink;
}

#collection-form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  margin: 3vh 3vw;
  padding: 3vh 3vw;

  background-color: white;
}

input, textarea {
  resize: none;
  font-family: 'Roboto';
  margin: 10px;
  border: 1px solid lightgray;
  background-color: whitesmoke;
}
button {
  margin: 10px;
  background-color: #e05a5a;
  border: 1px solid rgb(224, 86, 86);
  color: white;
}
button:hover {
  cursor: pointer;
}
input, textarea, button {
  border-radius: 3px;
  padding: 10px;
}