::-webkit-scrollbar {
  /* visibility: hidden; */
  width: 6px;
  background-color: none;
  border: none;
}
::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: dimgray;
}