.session-form-container {
  height:  calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3dcb6;
}
.session-form {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #80353e;
}

.session-form input {
  margin: 5px 0;
  padding: 5px;
  width: 200px;
  box-shadow: 4px 4px 12px black;
}

.session-form input[type="submit"] {
  width: 200px;
  padding: 5px;
}

.session-form h3 {
  font-size: 25px;
  margin-top: 0;
  padding-top: 0;
  color: #e3dcb6
}