.session-form-container {
  font-family: 'Tenor Sans', sans-serif;
  background-image: url("../splash-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 50px);
}
.session-form-overlay {
  height: inherit;
  left: 0;
  right: 0;
  top: 50px;
  background-color: rgba(84, 79, 84, 0.515);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.session-form {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.session-form * {
  font-family: "Quicksand";
  font-weight: 500;
  margin: 2px;
  font-size: 14px;
}

.session-form input {
  font-size: 16px;
  font-weight: 500;
  padding: 0.8em;
  width: 300px;
  color: black;
}

/* .session-form input:nth-of-type(even) {
  background-color:rgba(245, 180, 180, 0.467);
} */

/* .session-form input:nth-of-type(even):focus {
  background-color:#f5b4b4;
} */

.session-form input {
  background-color:rgba(243, 243, 243, 0.8);
  box-sizing: border-box;
}

.session-form input:focus {
  background-color:rgba(243, 243, 243);
}

.session-form input[type="submit"] {
  margin-top: 30px;
  padding: 10px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  border-radius: 25px;
  transition: all .4s ease;

  mix-blend-mode: screen;
  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 24px;
  color: black;
}

.session-form input[type="submit"]:hover {
  background-color: white;
  cursor: pointer;
}

.session-button {
  margin-top: 30px;
  padding: 10px;
  width: 300px;
  background-color: rgba(245, 180, 180, 0.8);
  border: none;
  text-decoration: none;
  border-radius: 25px;
  transition: all .4s ease;
  mix-blend-mode: screen;

  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 24px;
  color: black;
}

.session-button:hover {
  background-color: white;
  cursor: pointer;
}

.session-form h3 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 36px;
  margin-top: 0;
  padding-top: 0;
  color: white;
}

.session-error {
  margin: 5px;
  border-bottom: solid rgba(245, 180, 180, 0.8) 1px;
  color: white;
}