.splash-header-hero {
  font-family: 'Tenor Sans', sans-serif;
  background-image: url("../splash-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 50px);
}
.splash-header-hero-overlay {
  height: inherit;
  left: 0;
  right: 0;
  top: 50px;
  background-color: rgba(84, 79, 84, 0.515);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.splash-header-content {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  max-width: calc(100vw - 40px);
}
.splash-header-hero *{
  font-size: 60px;
  color: white;
}
.splash-header-hero span{
  font-size: 60px;
  color: rgb(245, 180, 180);
}
.splash-header-hero-text {
  margin-top: 20vw;
  margin-bottom: 15vw;
}

.splash-page-main p{
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}

.splash-body {
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.splash-body a {
  text-align: center;
  margin: 20px;
  margin-top: 0;
  min-width: 100px;
  max-width: 160px;
  mix-blend-mode: screen;
  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 24px;
  color: black;
}

.splash-login-button {
  padding: 10px;
  width: 200px;
  background-color: rgb(255, 255, 255, 0.8);
  text-decoration: none;
  border-radius: 25px;
  transition: all .4s ease;
}

.splash-signup-button {
  padding: 10px;
  width: 200px;
  background-color: rgb(245, 180, 180, 0.8);
  text-decoration: none;
  border-radius: 25px;
  transition: all .4s ease;
}

.splash-signup-button:hover {
  background-color: rgb(245, 180, 180, 1.6);
}

.splash-login-button:hover {
  background-color: rgb(255, 255, 255, 1.6);
}