.wine-index {
  background-image: url("../splash-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*Styling for Wine Index Items*/
.wine-index-item-container {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  border-top: 1px solid rgba(255, 180, 17, 0.24);
  border-left: 1px solid black;
  background-color: rgba(0, 0, 0, 0.950);
  transition: all .4s ease;
}

.wine-index-item-container:hover {
  background-color: rgba(0, 0, 0, 0.455);
  border-top: 1px solid rgba(255, 180, 17, 0.500);
}
.wine-index-item-container:last-of-type {
  border-bottom: 1px solid rgba(255, 180, 17, 0.24);
}

.wine-image {
  background-image: url("../wine-icon-placeholder.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.467);
  margin: 15px;
  height: 150px;
  width: 150px;
  border: 1px solid black;
  border-radius: 40%;
}

.wine-details-container {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 28px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.wine-title {
  font-family: 'Tenor Sans', sans-serif;
  color: rgb(245, 180, 180);
  width: 60vw;
  border-bottom: 1px dashed rgb(245, 180, 180);
}

.wine-description {
  font-size: 20px;
  width: 60vw;
}

.wine-tag-container {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
}

.wine-tag {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 28px;
  color: white;
  margin-right: 5px;
  text-decoration: none;
}

.collection-adder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8px;
  padding: 5px;
}

.collection-adder label{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  color: white;
}

.collection-adder select {
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
}

.wine-index-add-button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  border-radius: 25px;
  transition: all .2s ease;
}

.wine-index-add-button:hover {
  background-color: rgba(255, 255, 255);
}